.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &__logo {
    height: 45px;
    width: auto;
  }

  &__navigation {
    text-transform: uppercase;
    display: flex;
    flex: 0 0 54%;
  }

  &__links-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__link {
    font-weight: bolder;
  }


  &__icons-wrapper {
    margin-left: 45px;
    display: flex;
    flex: 0 0 7%;
    justify-content: space-between;
    font-size: 14px;
  }
}
