@import "../node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "jumbo";

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

.top-background__container {
  background: rgb(255,255,255);
  background: linear-gradient(20deg, rgba(255,255,255,1) 55%, rgba(0,114,255,1) 87%);
}
